@use "../abstracts/forward" as *;

/**********************************
Banner Section
**********************************/
.banner {
	padding: 0;

	&__container {
		background-image: url("/ace_header_pattern.svg");
		height: 10rem;
		width: 100%;
		background-color: $color-red-ace;
	}

	&__header {
		height: 9.8rem;
		@include displayFlexCenter;
		font-size: 3.6rem;
		color: $color-white;
		text-align: center;
		padding: .1rem 2rem 0 2rem;
		font-family: $fontfamily-RobotoCondensed;
		font-weight: 300;
	}
}
